@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --bg-color: #009687;
    --bg-light: #d8f5f2;
    --disabled-color: #9ca4ac;
}

.bg-green {
    background-color: var(--bg-color);
}

.text-green {
    color: var(--bg-color);
}

.bg-disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.zoom {
    transition: all 0.3s ease-in-out;
}

.zoom:hover {
    transform: scale(1.05);
}

.btn-green {
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-green:hover {
    background-color: #007563;
    color: #fff;
}

.bg-lightgreen {
    background-color: var(--bg-light);
}

/* Navbar */
nav .selected {
    background-color: var(--bg-color) !important;
    color: #fff !important;
}

nav .bg-white {
    border-radius: 0 0 20px 20px;
}

.nav-center-div {
    cursor: pointer;
}


/* Index Page */
.index_page .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.index_page .logo {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.index_page a {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/* Login Page */

.login-inner {
    width: 400px;
    background-color: var(--bg-color);
}

.login-inner img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/* Home Page */
.img-swiper {
    width: 50vw;
    height: 400px;
}

.img-swiper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}